.container {
  box-sizing: border-box;
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
}
.container--top-destinations {
  display: grid;

  grid-template-columns: 427px 1050px;
  grid-column-gap: 75px;
}
