@import "mixins";
@import "variables";

@import "visually-hidden";
@import "reset";
@import "font";

@import "page";
@import "container";
@import "link";
@import "btn";
@import "title";

@import "main-header";
@import "main-nav";
@import "main-footer";
@import "promo";
@import "form";
@import "features";
@import "top-destinations";
@import "tour";
@import "choose-destination";
