@mixin title-font {
  font-family: "NotoSerif", "Georgia", serif;
}
@mixin text-font {
  font-family: "ProductSans", "Arial", sans-serif;
}
@mixin text {
  color: $brown-light;

  font-family: "ProductSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
@mixin font($size, $height: $size) {
  font-size: $size;
  line-height: $height;
}
@mixin active {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		font-weight: #{$weight};
		font-style: normal;

		src: url('../fonts/#{$url}.woff2') format('woff2'),
		url('../#{$url}.woff') format('woff');
		font-display: swap;
	}
}
