:focus-visible {
  outline: 0;
  outline: 2px solid $orange;
}
body {
  @include text-font;
}

.page {
  padding-top: 39px;
}
.page__main-header {
  margin-bottom: 31px;
}
.page__promo {
  margin-bottom: 102px;
}
.page__features {
  margin-bottom: 180px;
}
.page__top-destinations {
  margin-bottom: 180px;
}
.page__tour {
  margin-bottom: 250px;
}
.page__tour {
  margin-bottom: 250px;
}
.page__choose-destination {
  margin-bottom: 200px;
}
